<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/css/main.css' />
    <title>Document</title>
</head>
<body>  
    <div class="header">
        <a href="generar_usuario" id="crear_usuario">Creación de usuarios</a>
        <h1 id = "registro_transacciones">Registro de Transacciones</h1>
        <img src="../static/images/itbank_logo.png" alt="logo">
    </div>
    <form method="POST" id="form">
        <label for="">Tipo de Operación</label>
        <input type="text" name="tipo_operacion">
        <label for="">Estado de Operación</label>
        <input type="text" name="estado_operacion">
        <label for="">Tipo de cuenta</label>
        <input type="text" name="tipo_cuenta">
        <input id = "button" type="submit" value="Enviar">
    </form>

    <div id='mostrar_datos'>
        
    </div>
    
</body>
</html>